.area:hover + rect:last-child {
    stroke: brown;
}

.area:active rect:last-child {
    stroke: deeppink;
}

*{
    user-select: none;
}
#root{
    z-index: 10;
}

.debug {
    position: absolute;
    user-select: none;
    max-width: 400px;
    right: 0;
    color: darkgreen;
    word-break: break-all;
}
