g:hover rect:last-child {
    stroke: cadetblue;
}

g:active rect:last-child {
    stroke: chocolate;
}

g:focus rect:last-child {
    stroke: antiquewhite;
}

*{
    user-select: none;
}
#root{
    z-index: 10;
}

.debug {
    position: absolute;
    user-select: none;
    max-width: 400px;
    right: 0;
    color: darkgreen;
    word-break: break-all;
}
